.App {

}

.App-header {
    background-color: #282c34;   
    
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-intro{
  padding: 70px;
}

.title {
  font-size: 100px;  
}

.title-button {
  font-size: 24px;
}